
.row.blurb
  .col
    %h4 С чего начать
    %p
      #{link_to('Зайти сюда', 'https://main.0wiki.ru')}.

  .col
    %h4 Ваша собственная вики за секунды
    %p
      Получите свою собственную мощную, расширяемую, личную вики бесплатно
      за считанные секунды без необходимости установки. Сделайте ее приватной,
      общедоступной или покажите в Tiddlyhost Hub.

  .col
    %h4 Работает на Tiddlywiki
    %p
      Tiddlyhost работает на #{link_to('TiddlyWiki', 'https://tiddlywiki.com/')} — революционной
      вики написанной на #{link_to('JavaScript', 'https://main.0wiki.ru/#JavaScript')}
      с открытым исходным кодом. Он также поддерживает новый сверхлегкий
      #{link_to('Feather Wiki', 'https://feather.wiki/')} и оригинальный
      #{link_to('TiddlyWiki Classic', 'https://classic.tiddlywiki.com/')} старой школы.

.rounded.mt-3.p-4.th-bg-jumbo.jumbotron{ style: "padding: 1.5em 1.5em 2em 1.5em" }
  %h3 Get started now
  = link_to new_user_registration_path, class: 'btn btn-lg btn-primary' do
    Sign up
  %span or
  = link_to new_user_session_path, class: 'btn btn-lg btn-primary' do
    Log in
